@import url('https://fonts.googleapis.com/css?family=Inconsolata|Nunito&display=swap');

.headerContainer {
  display:flex;
  width: 100%;
  background-color: #1d1d1b;
  position: fixed;
  position: relative;
  height: 13vh;
}

.header {
  list-style-type: none;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: 0;
  font-weight: 800;
  font-size: 1.5em;
  font-family: 'Inconsolata';
}

.tarif, .accueil, .contact {
  color:white;
  padding: 43px 60px;
  margin: 0 2em;
  text-decoration: none;
}

.tarif:hover, .accueil:hover, .contact:hover {
  background-color: white;
  color: #1d1d1b;
  border: none;
}

.logo {
  display: flex;
  height: 5em;
  margin-right: -8em;
  margin-left: 5em;
  margin-top: auto;
  margin-bottom: auto;
}