.Admin {
  display: flex;
  margin-left: 5rem;
  margin-top: 1rem;
  min-height: 75vh;
}

.addArticle {
  display: flex;
  flex-direction: column;
  width: 30rem;
  padding-bottom: 2rem;
}

.titleReal {
  margin-bottom: 2rem;
}

.titleAddArticle, .carsTitleDelete {
  font-weight: 900;
  margin-bottom: 2rem;
}

.descriptionForm {
  margin-bottom: 2rem;
}

.textDescriptionForm {
  display: flex;
  flex-direction: column;
  width: 81rem;
}

.photoLinkForm {
  margin-bottom: 2rem;
}

.priceDiv {
  margin-bottom: 2rem;
}

.cardsContentAdmin {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.textDescriptionAdmin {
  width: 200px;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  text-overflow: ellipsis;
  margin: 0;
}

.textCard {
  cursor: pointer;
}

.carte {
  display: flex;
  flex-direction: row;
}

.articleCategory {
  margin-bottom: 2rem;
}

.addArticleButton {
  width: 100%;
}

.deleteCards {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 55rem;
}

