.Admin {
  display: flex;
  flex-direction: column;
  margin-left: 5rem;
}

.addArticle {
  margin: 2rem;
  display: flex;
  flex-direction: column;
}

.descriptionForm {
  margin: 2rem;
}

.textDescriptionForm {
  display: flex;
  flex-direction: column;
  width: 81rem;
}

.photoLinkForm {
  margin: 2rem;
  display: flex;
  flex-direction: column;
}

.cardsContentAdmin {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.textDescriptionAdmin {
  width: 200px;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  text-overflow: ellipsis;
  margin: 0;
}

.textCard {
  cursor: pointer;
}

.carte {
  display: flex;
  flex-direction: row;
}

