.Card {
  margin: 20px;
}

.cardsContent {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.cardsContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
  align-items: center;
  flex-wrap: wrap;
}

.card-img-top {
  box-sizing: content-box;
  width: 50%;
}

.textDescription {
  width: 200px;
  /* white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  text-overflow: ellipsis; */
  margin: 0;
}
