.Boutique {
  min-height: 75vh;
}

.Card {
  margin: 20px;
}

.cardsContent {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.cardsContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
  margin-top: 2rem;
  align-items: center;
  flex-wrap: wrap;
}

.title {
  margin-right: 1rem;
}

.card-img-top {
  box-sizing: content-box;
  width: 50%;
}

.textDescription {
  width: 200px;
  margin: 0;
}
